.slika {
    width:100%;
    top: 100px;
    bottom: 10px;
    position: absolute; 
    opacity: 0.7;
}
.slika1{
    opacity:0.8;
}
.slika2{
    opacity:0.6;
}

.aboutus-content{ 
    padding-top: 10px;
    padding-bottom: 10px;}

.aboutus-container{
  max-width: 1350px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  height:500px;  
  background-image:url(../images/aboutus1.jpg);
}
.text-container{    
  width: 800px;
  height:400px;
  position: absolute;
  margin: 15px;
  box-sizing: border-box;
  /*height:500px;*/ 
  padding:0px;
}
.h1-text{
  font-family:'Andalus'; 
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  padding: 30px 20px;
  text-indent: 110px;
  color: grey;
}
.aboutus {
  color: grey;
  font-family: 'Andalus'; 
  font-size: 20px;
  padding: 0px 10px;
  width: 100%;
  padding-left:120px; 
  }

.sticky-wrapper{
    height: 50px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    color: grey;
    font-size: 15px;
    font-family: 'Exo 2';
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}

.db-navbar {
    margin: 0; 
    border-radius: 0; 
    border: none; 
    background-color: #ffffff; 
    box-shadow: 0 0 9px -5px #000000; 
    z-index: 999;
    transition: all 0.4s ease; 
    width: 100%; 
    padding: 5px 0;}

.is-sticky .db-navbar {padding: 8px 0;}

.main-content{
    display:block;
}

.content{ 
    padding-top: 80px;
    padding-bottom: 80px;}
.signup-content{ 
    padding-top: 10px;
    padding-bottom: 10px;}

.row-content{
    box-sizing: border-box;   
    
  }

.rows{ margin-right: -0px; margin-left: 0px; }
.rows> [class^="col-"],
.rows > [class*=" col-"]{ padding-right: 0; padding-left: 0;}


.signup{
    box-sizing: border-box;
    display:block;
    }
.signup-container{
  max-width: 1350px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  height:100%;
  border-top:2px solid LightCoral;padding:10px;
  border-bottom:2px solid LightCoral;padding:10px;
  background-image:url(../images/kids3.jpg);  
}
.driver-container{
  max-width: 1350px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  height:100%;
  border-top:2px solid LightCoral;padding:10px;
  border-bottom:2px solid LightCoral;padding:10px;
  background-image:url(../images/kids4.jpg);  
}

.signup-form {background:LightCoral; padding: 20px;padding-top: 0px;}
.signup-form h1 {text-align: center; font-size: 20px;font-family: 'Exo 2'; padding: 20px; }
.input-group{margin: 0 0 10px;}

.login-rows{ margin-right: 0; margin-left: 0;  padding-top: 40px;}
.login-content{
     padding-top: 10px;
    padding-bottom: 10px;
    }
.login-container{
  max-width: 1350px;
  position: relative;
  margin: auto;  
  height:480px;
  border-top:2px solid LightCoral;padding:10px;
  border-bottom:2px solid LightCoral;padding:10px;
  background-image:url(../images/kids3.jpg);}
.login-form {background:LightCoral; padding: 30px; padding-top:0px;}
.login-form h1 {text-align: center; font-size: 20px;font-family: 'Exo 2'; padding: 10px; }

.rides-container{
  max-width: 1350px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  height:480px;
  border-top:2px solid LightCoral;padding:10px;
  border-bottom:2px solid LightCoral;padding:10px;
    
}



.check{ display: inline-block;
    vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
  position: relative;
  }
  
 .slide-container{
  max-width: 1350px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  height:100%;
  border-top:2px solid LightCoral;padding:10px;
  border-bottom:2px solid LightCoral;padding:10px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 0px;
  text-align: center; 
  vertical-align:  middle;
}

.mySlidesImg{
  display: none;
  vertical-align: middle;
  
}

.textimg1 {
  color: OrangeRed;
  font-family:'georgia'; 
  font-size: 40px;
  padding: 30px 20px;
  position: absolute;
  bottom: 280px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  text-indent: 150px;   
}
.textimg2 {
  color: black;
  font-family: 'Andalus'; 
  font-size: 70px;
  padding: 30px 20px;
  position: absolute;
  bottom: 180px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  text-indent: 230px;   
}
.btn-app{
    position: fixed;
    right:200px;
    padding: 8px 16px; 
    border-radius: 14px; 
    border: 2px solid; 
    line-height: initial;
    background: grey; 
    border-color: grey;
    color:white;
}
.buttonslide{
    bottom: 160px;   
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4r5);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/* footer */
.footer{}
.footer-container{
    background:white;    
    position: relative;  
    box-sizing: border-box;
    height: 80px;
    width: 100%; 
   
}
.footer-container p {font-size: 15px;text-align:center;}
.footer-container span {display: block; margin-top: 0px; text-align: center;margin-bottom: 3px; font-size: 15px;}
.list-inline{margin-top: 10px; margin-left:600px; }

.footer-container ul li {width: 32px; height: 32px; border-radius: 40%; background: grey; line-height: 20px; padding: 7px; margin-right: 8px;color:#fff;}
.footer-container li a{display: block;}
.footer-container ul li i{color:black;}
   